:root {
    --background-color: #517271;
    --lightcolor: whitesmoke; 
}

#self {
    max-width: 300px;
    max-height: 300px;
    margin-top: 5px;
    margin-right: 80px;
}

#bonjour {
    background-color: var(--background-color);
}

#header {
    background-image: url('Assets/images/computer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 1000;
    max-width: 1000;
}
#information {
    color: var(--lightcolor);
    }

#About-Me {
    font-size: 25px;
}

.img-fluid {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}