/* Set Variables for background color and font */
:root {
    --background-color: #517271;
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial, sans-serif';
    --lightcolor: whitesmoke; 
    --darkcolor: #053433; 
}

/* Set body background color*/
body {
    background-color: var(--lightcolor);
}

/* Set class header to display flex for h1 and nav section */
.header {
    display: flex;
  }
  h1, nav {
      flex: 1;
  }

/*Set Class header for font, background, padding, and font color */
.header {
    padding: 0px 5px;
    font-family: var(--font);
    background-color: var(--darkcolor);
    color: var(--lightcolor);
}

/* Set class header h1 for font size */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Set class for navigation bar for padding, margin, float, font, font size and to under line */
.header nav {
    padding-top: 10px;
    margin-right: 5px;
    font-family: var(--font);
    font-size: 20px;
    text-decoration: underline;
}

/* Set class header navigation links to change color for background and font when hovering */
.header nav a:hover {
    background-color:var(--lightcolor);
    color: black ;
}

/* Set class header navigation links when clicked set back to default colors */
.header nav a.active {
    background-color: var(--darkcolor);
    color: var(--lightcolor);
}

/* Set class navigation unordered list to no list style */
.header nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0px;
    padding: 5px
}

/* Set class navigation list items tp be displayed as inline-block and the font size */
.header nav ul li {
    display: inline-block;
    margin: 25px;
}

/* Set class trust for the subtitle section */
.trust {
    background-color: var(--background-color);
    border-bottom: 5px solid var(--darkcolor);
}

/* Set class trust for the flex to space between the flex boxes section */
.trust {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

/* Set class self image max height and width, along with border and margin */
.self {
    max-width: 200px;
    border-radius: 10px;
    border: 5px solid var(--darkcolor);
    margin: 40px;
}


/* Set class california image for max width, marigin and border styling */
.California {
    max-width: 600px;
    margin: 80px;
    border-radius: 10px;
    border: 30px solid var(--darkcolor); 
}

/* Set class trust h2 for the subtitle section */
.trust h2 {
    font-family: var(--font);
    font-style: italic;
    margin-right: 25px; 
    margin-bottom: 150px;
    color:var(--lightcolor);

}

/*Set the class container for the about me in the span flex width and align the items*/
.container {
    display: flex;
    align-items: baseline;
  }
/*Set the class container for the about me first child width*/
.container :first-child {
    width: 300px;
  }

/* Set the flex boxes spaces with in the box*/
.container > * {
    flex: 1 0 auto;
}

/* Set Class About me content Hello Header (h4) font family and display*/
#About-Me {
    font-family: var(--font);
    color: var(--darkcolor);
    font-size: 50px;
    background-color: var(--lightcolor);
    border-right: 5px solid var(--darkcolor);

}

/* Set Class about me pre text description font size, color, family and display right*/
.container pre {
    padding-right: 30px;
    font-family: var(--font);
    color: var(--darkcolor);
    font-size: 15px;

}

/*Set the class work-content flex boxes to align items in the center of the boxes*/
.work-content {
    display: flex;
    align-items: center;
    justify-content: center; 
  }

/*Set the class work-content in the span flex width*/
.work-content :first-child {
    width: 300px;
  }

/* Set the flex boxes spaces with in the box*/
.work-content > * {
    flex: 1 0 auto;
    
}

/* Set the ID Work for the 1st flex box with position, styling and color with in the box*/
#Work {
    flex-basis: 295px;
    font-family: var(--font);
    color: var(--darkcolor);
    font-size: 50px;
    border-right: 5px solid var(--darkcolor);

}
/*Set the class work-content paragraph with the margin to the left */
.work-content p {
    margin-left: 75px;
}

/* Set the class work images to max height and width, border and position with in the box*/
.work-content img {
    max-width: 250px;
    max-height: 300px;
    margin: 36px;
    border-radius: 10px;
    border: 5px solid var(--darkcolor);
    position: relative;
    }

/* Set moutain class for the link position with in the picture, to position on top of image, font family and size */
.mountain {
    position: absolute;
    left: 525px;
    font-family: var(--font);
    font-size: 20px;
}

/* Set grand class for the work content image for a background color and font color */
.mountain :link {
    color: var(--darkcolor);
    background-color: var(--lightcolor);
}
      
        
/* Set mountain class for the work content image to hover to change colors */
.mountain :hover {
    background-color: lightblue;
    color: var(--darkcolor); 
}

/* Set grand class for the link position with in the picture, to position on top of image, font family and size */
.grand {
    position: absolute;
    left: 880px;     
    font-family: var(--font);
    font-size: 20px;
}

/* Set grand class for the work content image for a background color and font color */
.grand :link {
    color: var(--darkcolor);
    background-color: var(--lightcolor);
}
      
        
/* Set grand class for the work content image to hover to change colors */
.grand :hover {
    background-color: lightblue;
    color: var(--darkcolor);
}
/* Set prism class for the link position with in the picture, to position on top of image, font family and size */
.prism {
    position: absolute;
    left: 1210px;     
    font-family: var(--font);
    font-size: 20px;
}

/* Set prism class for the work content image for a background color and font color */
.prism :link {
    color: var(--darkcolor);
    background-color:var(--lightcolor);
}
              
                
 /* Set prism class for the work content image to hover to change colors */
.prism :hover {
    background-color: lightblue;
    color: var(--darkcolor);
}
    
/* Set contact content display to flex*/    
.contact-content {
    display: flex;
}

/* Set contact content display to flex first childs width*/  
.contact-content :first-child {
        width: 290px;
}

/* Set contact content display sets the 3 flex boxes */  
.contact-content  > * {
        flex: 1 0 auto;
    
}

/* Set contact content font family and color */  
.contact-content {
    font-family: var(--font);
    color: var(--darkcolor)
}

/* Set contact content for header 5 font family and color */  
.contact-content h5 {
    font-size: 50px;
    flex-basis: 275px;
    border-right: 5px solid var(--darkcolor);
}
/* Set class contact content list to diplay no list type */
.contact-content ul {
    list-style-type: none;
    display: flex;
    margin-left: 50px;
    align-items: center;
}

/* Set class contact content list to diplay inline block to the right and margin */
.contact-content ul li {
    display: flex;
    flex-basis: 350px;
}

/*Set media screen for the header to float none to put in a column*/
@media screen and (max-width: 600px) {
    .header a {
      float: none;
      width: 100%;
    }
}

/*Set media screen for the class trust to put in a column*/
@media screen and (max-width: 600px) {
    .trust {
        display: grid;
        grid-template-areas: 'self' 'California' 'h2';
        }
}

/*Set media screen for the class california to put in a column underneath self class */
@media screen and (max-width: 600px) {
    .California {
        width:50%;
    }
}

/*Set media screen for the class container to put in a column*/
@media screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-areas: 'h3' 'p';
    }
}

/*Set media screen for the class container pre to wrap text*/
@media screen and (max-width: 600px) {
    .container pre {
        white-space: pre-wrap; 
    }
}

/*Set media screen for the class work content for the images in a column*/
@media screen and (max-width: 600px) {
.work-content p {
    margin-left: 0px;
    }
}
/*Set media screen for the class work content for the first image to reset the margin at 0px*/
@media screen and (max-width: 600px) {
    .work-content {
        display: table;
        display: list-item;
    }
}

/*Set media screen for the div for the links in a column*/
@media screen and (max-width: 600px) {
    div.grand, div.mountain, div.prism {
      position: absolute;
      left: 0px;
    }         
}

/*Set media screen for the class contact content for the images in a column*/
@media screen and (max-width: 600px) {
    .contact-content {
    display: flex;
    flex-wrap: wrap;
    }
}

/*Set media screen for the class contact-content for the list to put in a table*/
@media screen and (max-width: 600px) {
    .contact-content ul {
    display: table;
    }
}